body {
  font-family: sans-serif;
  text-align: center;
}

#canvas-container {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid #aaa;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.toolbar {
  margin-top: 10px;
}

canvas {
  background: transparent;
}

#gallery img {
  width: 200px;
  margin: 5px;
}